.example-container {
    position: absolute;
    top: 60px;
    bottom: 60px;
    left: 0;
    right: 0;
  }
  
  .example-sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    background: var(--lightAmazonOrange);
  }
  
  .example-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: black;
    z-index: 100;
  }
  
  .example-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    color: black;
    z-index: 100;
  }