.example-container {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0;
    right: 0;
  }
  
  .example-sidenav {
    width: 30%;
  }

  .example-content {
    background: wheat;
    margin-left: 0% !important;
  }



  .example-footer {
    position: fixed;
    align-content: center;
    bottom: 0;
    left: 45px;
    color: black;
    z-index: 100;
  }

  .search-textbox {
    padding: 5%;
    width: 90%;
    align-self: center;
  }

agm-map {
  height: 400px;
}

.gold-text  {
  color: var(--darkBlue);
  font-size: 40px;
  font-weight: bold; 
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
