<ng-container>
  <mat-toolbar class="example-header">Header</mat-toolbar>

  <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" opened class="example-sidenav"
                 [fixedInViewport]="true" [fixedTopGap]="true"
                 [fixedBottomGap]="false">
    </mat-sidenav>

   
  </mat-sidenav-container>

  <mat-toolbar class="example-footer">
    <button mat-button color="primary" style="background-color: var(--darkBlue)" (click)="signOut()">Sign out</button>
  </mat-toolbar>
</ng-container>
